<%- include("./partials/header")%>


    <div class="main-container container pt-80 pb-80" id="main-container">            
      <!-- post content -->
      <div class="blog__content mb-72">
        <div class="container text-center">
          <h1 class="page-404-number">404</h1>
          <h2>This Website is not made by using a Website Builder</h2>
          <p>The Technical Editor of The Woodward Journal does not need a drag and drop method to build a website, unlike some mainstream publications. However, don't fret! Perhaps searching something on an original website may help.</p>

          <div class="row justify-content-center mt-40">
                
            <div class="col-md-6">
              <!-- Search form -->
              <form action="/search" role="search" method="get" class="search-form relative">
                <input name="search" type="search" class="widget-search-input mb-0" placeholder="Search an article">
                <button type="submit" class="widget-search-button btn btn-color"><i class="ui-search widget-search-icon"></i></button>
              </form>

              <!-- Back to home -->
              <a href="/" class="btn btn-lg btn-light mt-40"><span>Back to Home</span></a>
            </div>     
          
          </div> <!-- end row -->

        </div> <!-- end container -->
      </div> <!-- end post content -->
    </div> <!-- end main container -->


<%- include("./partials/footer") %>