<%- include("../partials/header") %>

    <!-- ##### Breadcrumb Area Start ##### -->
    <!-- <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="img/core-img/breadcrumb-line.png" alt="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Disclaimer</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div> -->
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Blog Content Area Start ##### -->
    <section class="blog-content-area p-4 m-4">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Blog Posts Area -->
                <div class="col-12 col-lg-12">
                    <div class="blog-posts-area">

                        <!-- Post Details Area -->
                        <div class="single-post-details-area">
                            <div class="post-content">
                                <p>
<b>The Woodward Journal is instituted to promote and provide copywriters with an independent and non-commercial platform.</b><br><br><br>
We welcome your suggestions, criticism, support, ideas, and commendations.<br><br>

For writing opportunities, submissions and editorial enquires: <a href="mailto:editorial@woodwardjournal.com">editorial@woodwardjournal.com</a><br><br>

For information regarding the Journal: <a href="mailto:info@woodwardjournal.com">info@woodwardjournal.com</a><br><br>

For collaborations and partnerships: <a href="mailto:leadership@woodwardjournal.com">leadership@woodwardjournal.com</a><br><br>

For recommendations or content inquiries: <a href="mailto:support@woodwardjournal.com">support@woodwardjournal.com</a><br><br>
								</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Blog Content Area End ##### -->



<%- include("../partials/footer") %>