<%- include("../partials/header") %>

    <!-- ##### Breadcrumb Area Start ##### -->
    <!-- <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="img/core-img/breadcrumb-line.png" alt="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Disclaimer</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div> -->
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Blog Content Area Start ##### -->
    <section class="blog-content-area p-4 m-4">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Blog Posts Area -->
                <div class="col-12 col-lg-12">
                    <div class="blog-posts-area">

                        <!-- Post Details Area -->
                        <div class="single-post-details-area">
                            <div class="post-content">
                                <p>
The Woodward Journal chooses to sustain its independence and uphold the principle of a free and unbiased press, untainted by any political inclination.<br><br>
We strongly promote the idea of centralism and vow to write in the best interests of our concerned audiences. While we refuse to be motivated by any propaganda, we firmly stand by the stories we publish and back them to our utmost core. <br><br>
However, if the reader feels there are corrections or factual inaccuracies in the content published by The Journal, request a correction or clarification by emailing us at support@woodwardjournal.com
								</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Blog Content Area End ##### -->



<%- include("../partials/footer") %>