<%- include("../partials/header") %>

    <!-- ##### Breadcrumb Area Start ##### -->
    <!-- <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="img/core-img/breadcrumb-line.png" alt="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Disclaimer</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div> -->
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Blog Content Area Start ##### -->
    <section class="blog-content-area p-4 m-4">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Blog Posts Area -->
                <div class="col-12 col-lg-12">
                    <div class="blog-posts-area">

                        <!-- Post Details Area -->
                        <div class="single-post-details-area">
                            <div class="post-content">
                                <p>
The Woodward Journal is an independent, privately funded, and non-commercial online publication. However, we are constantly looking for collaborations and partnerships to surge the principle of free and unbiased press.<br><br>
<b>What to expect when partnering with The Journal?</b><br>
The Journal has various newsrooms that are dedicated to particular topics, to know more about a partnership with a newsroom that serves your purpose of the collaboration; mail us your prospectus and plan of action at info@woodwardjournal.com and WoodJo’s staff will be in touch with you.<br><br>
<b>How are the advertisement displayed?</b><br>
The Journal has a strict policy concerning advertisements as the content published on The Journal is in no affiliation or whatsoever with any organization. The content that the advertiser wishes to display on our website may be emailed to us at leadership@woodwardjournal.com. If the content is abiding by the policies of The Journal, WoodJo’s Web Analysts will establish contact with you as soon as possible.
								</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Blog Content Area End ##### -->



<%- include("../partials/footer") %>