<%- include("../partials/header") %>

    <!-- ##### Breadcrumb Area Start ##### -->
    <!-- <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="img/core-img/breadcrumb-line.png" alt="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Disclaimer</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div> -->
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Blog Content Area Start ##### -->
    <section class="blog-content-area p-4 m-4">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Blog Posts Area -->
                <div class="col-12 col-lg-12">
                    <div class="blog-posts-area">

                        <!-- Post Details Area -->
                        <div class="single-post-details-area">
                            <div class="post-content">
                                <p>
<h4>The Chronicle</h4>
The Chronicle by The Woodward Journal is a weekly newsletter curated by the Editorial of WoodJo. This newsletter handpicks news and media information which got the most attention in the week.<br>
•	Politics and Government News<br>
•	Sports News<br>
•	Societal Issues and Coverage<br>
•	Movies, TV and Music<br><br>
<h4>Elrond Foundation</h4>
“One person can make a difference, and everybody should try.” In response to societal issues and propagating awareness The Woodward Journal established – The Elrond Foundation. Aiming towards a better tomorrow, it strives to work for making this world a better place to live in. With a pursuit to change false beliefs, sensitize hearts, and dive into actual action, The Elrond Foundation will work upon three broad categories – Environment, Animal Welfare and Human Rights and Healthcare. Among these three broad divisions, we intend to focus on the harmful yet normalized and ignored issues which include cleanliness and increasing pollution under Environment, exploitation and unethical breeding of animals under Animal Welfare, and mental health and LGBTQ+ rights under Human Rights and Healthcare.<br><br>
<h4>Deliverse</h4>
Deliverse revolves around the world of cinema and music. The impact which good music and a great cinema has on an individual is unmatched and unparalleled compared to other available content out there. Cinema is an artistic form which can revolutionize generations and talking about it helps people to understand the positive impact it can have upon them. Music is another therapeutic device. It is an art form which triggers our feelings in different ways and helps us connect with people.  Hence, writers at Deliverse, aim to review the fresh content available to the citizens and recommend and pick the best out of the numerous present releases and old time classics. Ranging from reviews to updates, we will bring to you the best out of the many options available.
								</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Blog Content Area End ##### -->



<%- include("../partials/footer") %>