<%- include("../partials/header") %>

    <!-- ##### Breadcrumb Area Start ##### -->
    <!-- <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="img/core-img/breadcrumb-line.png" alt="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Disclaimer</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div> -->
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Blog Content Area Start ##### -->
    <section class="blog-content-area p-4 m-4">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Blog Posts Area -->
                <div class="col-12 col-lg-12">
                    <div class="blog-posts-area">

                        <!-- Post Details Area -->
                        <div class="single-post-details-area">
                            <div class="post-content">
                                <p>
We accept suggestions, criticism, support, ideas, and commendations. As far as the news items are concerned, time is an indispensable factor. We highly recommend the submissions are made during the day and mailed to us at editorial@woodwardjournal.com<br><br>
<b>What are the guidelines for feature submissions?</b><br>
We prefer articles that are more than 300 words and are based on any article or feature appearing on The Journal. The pieces must not have been submitted or posted or published by any other news and media website or any publication. They must include the full name of the author and contact details such as phone number and email address for verification. Please put the text of the article in the body of the mail and title in the subject; attachments will not be considered.<br><br>
<b>How are the features processed?</b><br>
Features are read by one of the editors and are edited for clarity and crucially fact-checked. The opinions expressed represent the writer; however, the feature may be edited if it is inclined to personal biases or political or circumstantial inclination. We include the author of the feature in the editing process to the extent the time conditions allow.<br><br>
<b>When will you be contacted?</b><br>
The Editorial makes sure that all the features are read but considering the crucial factor of time concerning news items, features may not be published. If you haven't been contacted by a staff of The Journal, it's safe to assume the feature won't be posted.<br>
								</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Blog Content Area End ##### -->



<%- include("../partials/footer") %>